.token-card {
  background-color: #fff;
  border-radius: 0.75em;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.token-player {
  padding: 1em;
  border-radius: 5em;
  min-width: 5em;
  max-width: 10em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.token-symbol {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.19);
}

.token-drag-active {
  cursor: grabbing !important;
  transform: rotate(-6deg) translate(0px, -5px);
}

.moveable {
  cursor: grab;
  touch-action: none;
  position: absolute !important;

  /* https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/ */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.moveable-line {
  display: none;
}

body {
  background-color: #eeeeee !important
}

.board {
  position: absolute;
  display: inline-block;
  top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  z-index: 100000;
}

.game-modal {
  margin: 10%;
  background: white;
  display: inline-block;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 800px;
}

.help-text {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 0;
  color: gray;
}

.game-selector {
  margin-top: 8%;
  max-width: 800px !important;
}

.new-game-header {
  margin-top: 10%;
}

.context-menu {
  position: fixed;
  display: inline-block;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
